@import "../../../base/styles/helpers";

.mainFootWrap {
  padding-top: 35px;
}
.socialWrap {
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}
.lineWrap {
  margin-block: 25px;
}
.supportWrap {
  a {
    display: block;
    text-align: center;
    width: 60%;
    margin-inline: auto;
    text-decoration: none;
    line-height: 29px;
    font-size: rem(16px);
    color: #333333;
  }
  p {
    text-align: center;
    line-height: 29px;
    font-size: rem(16px);
  }
}

.footerLinksWrap {
  display: flex;
  width: 100%;
  justify-content: space-around;

  a {
    text-decoration: none;
    font-size: rem(16px);
    color: #000000;
    font-weight: 400;
  }
}
.copyRight {
  margin-top: 20px;
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: rem(12px);
  background-color: rgb(196, 196, 196, 0.1);

  p {
    margin: 0;
    padding: 0;
    opacity: 1;
    color: #555555;
  }
}
