:root {
  // color variable
  --color-primary: #a8715a;
  --color-secondary: #dd8560;
  --color-off-white: #fcfcfc;
  --color-line: #e0cfba;
  --color-input-bg: #d9dbe9;
  --color-dark: #000000;
  --color-dark-80: #333333;
  --color-dark-50: #555555;
  --color-dark-30: #888888;
  --color-background: #f8f0e7;

  // media screen sizes
  --sm: 576px;
  --md: 768px;
  --lg: 992px;
  --xl: 1200px;
  --xxl: 1440px;
}
