@import '@/base/styles/helpers';
@import '@/base/styles/resets';
@import '@/base/styles/variables';
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

@font-face {
  font-family: 'Bodoni moda 28pt';
  src: url('/fonts/BodoniModa_28pt-BoldItalic.ttf') format('truetype');
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Tenor Sans', sans-serif;
  font-weight: 400;
}
.active {
  opacity: 0.4;
}

section {
  padding-bottom: 30px;
  margin-bottom: 25px;
}
main {
  background-color: $color-white;
  padding-top: 55px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  // margin: 0;
}
h1,
h2 {
  text-transform: uppercase;
  font-size: rem(18px);
  letter-spacing: 4px;
}

// utility classes
.flex {
  display: flex;
  flex-wrap: wrap;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.no-wrap {
  flex-wrap: nowrap;
}
.grey {
  background-color: #e7ecf0;
}
.light {
  background-color: #ffffff;
}
.block-scroll {
  height: 100%;
  overflow: hidden;
}
.swiper-button-prev,
.swiper-button-next {
  &::after {
    color: $color-dark-30;
    font-size: rem(25px) !important;
  }
}

.swiper-pagination {
  bottom: 10px;
}
.swiper-pagination-bullet {
  background-color: $color-dark-30 !important;
  border-radius: 0 !important;
  transform: rotate(45deg);
}
.container {
  max-width: 100%;
  margin: 0 15px;

  @media (min-width: $sm) {
    max-width: 540px;
    margin: 0 auto;
  }
  @media (min-width: $md) {
    max-width: 720px;
  }
  @media (min-width: $lg) {
    max-width: 960px;
  }
  @media (min-width: $xl) {
    max-width: 1140px;
  }
  @media (min-width: $xxl) {
    max-width: 1260px;
  }
}
