@import "@/base/styles/helpers";
@import "@/base/styles/resets";
@import "@/base/styles/variables";
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

@font-face {
  font-family: "Bodoni moda 28pt";
  src: url("../assets/fonts/BodoniModa_28pt-BoldItalic.ttf");
  font-weight: 700;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Tenor Sans", sans-serif;
  font-weight: 400;
}
section {
  padding-bottom: 30px;
}
main {
  background-color: $color-white;
  padding-top: 50px;
}
.container {
  max-width: 100%;
  margin: 0 24px;

  @media (min-width: $sm) {
    max-width: 540px;
    margin: 0 auto;
  }
  @media (min-width: $md) {
    max-width: 720px;
  }
  @media (min-width: $lg) {
    max-width: 960px;
  }
  @media (min-width: $xl) {
    max-width: 1140px;
  }
  @media (min-width: $xxl) {
    max-width: 1260px;
  }
}
