@import "@/base/styles/helpers";
@import "@/base/styles/variables";
.wrapper {
  position: relative;
  padding-bottom: 0;
  h1 {
    position: absolute;
    color: $color-dark-80;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: rem(39.66px);
    font-family: "Bodoni moda 28pt";
    text-transform: uppercase;
    mix-blend-mode: multiply;
    letter-spacing: 1.20801px;
    line-height: 43.49px;
    opacity: 0.7;
  }
}
.heroImage {
  margin-inline: auto;
  // max-width: 375px;
  height: auto;
}
.buttonWrap {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.button {
  padding: 18px 40px;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 30px;

  a {
    text-decoration: none;
    font-size: rem(16px);
    color: $color-off-white;
    text-transform: uppercase;
  }
}
