@import "@/base/styles/variables";
@import "@/base/styles/helpers";
.nav {
  position: fixed;
  background-color: $color-white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding-block: 25px;
  padding-left: 5px;
  z-index: 10;
}
.itemsWrap {
  margin-top: 50px;
}
.menuTitle {
  opacity: 0.5;
  color: $color-dark-80;
  font-size: rem(10px);
  text-transform: uppercase;
  letter-spacing: 3px;
}
.navList {
  margin-top: 30px;

  li {
    list-style: none;
    a {
      text-decoration: none;
      display: block;
      color: $color-dark-80;
      font-size: rem(18px);
      line-height: 48px;
    }
  }
}
.contactLinks {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: max-content;
    font-size: rem(16px);
    text-decoration: none;
    color: $color-dark-80;
    span:nth-of-type(2) {
      margin-left: 20px;
      color: $color-dark-50;
    }
  }
  a:nth-of-type(2) {
    margin-top: 20px;
  }
}
.line {
  margin: 30px 0;
}
.socialWrap {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
}

