.wrapper {
  padding-block: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}
.grey {
  background-color: #e7ecf0;
}
.light {
  background-color: #ffffff;
}

.headContents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo{
    transform: translateX(12px);
  }

  .iconsWrap {
    span {
      margin-right: 15px;
    }
    img {
      width: 24px;
      height: 24px;
    }
  }
}
